@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: oklch(49.12% 0.3096 275.75);
  --color-secondary: oklch(69.71% 0.329 342.55);
  --color-accent: oklch(76.76% 0.184 183.61);
  --color-neutral: oklch(50.54% 0.046 256.85);
  --color-base-100: oklch(100% 0 0);
}
